{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1>Reset your password</h1>

        {{ form_start(requestForm) }}
            <div class="input-group mb-3 justify-content-center">
                {{ form_widget(requestForm.email) }}
            </div>
            <div>
                <small>
                    Enter your email address, and we will show you a
                    link to reset your password.
                </small>
            </div>

            <button class="input-group-text">Send password reset email</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
